.footer {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-content: space-between;
    div{
        margin: 15px;
    }

    h4 {
        margin: 15px 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;

    }

    ul {
        list-style-type: none;
    }

    li {
        margin: 10px 0;
        font-family: 'Metropolis';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #5D5A6F;
    }

}